# LIST

access the list items

In [1]:
x=["Apple", "Banana", "Cherry", "Kiwi", "mango"]
x

['Apple', 'Banana', 'Cherry', 'Kiwi', 'mango']

In [2]:
print(x[0])

Apple

In [3]:
print(x[-1])

mango

Range of index

In [4]:
print(x[0:3])

['Apple', 'Banana', 'Cherry']

In [5]:
print(x[:2])

['Apple', 'Banana']

In [6]:
print(x[2:])

['Cherry', 'Kiwi', 'mango']

In [7]:
print(x[-4:-1])

['Banana', 'Cherry', 'Kiwi']

Check items exist or not

In [8]:
if 'Banana' in x:
    print("items is exist")
else:
    print("not exist")

items is exist

Change the items of list

In [9]:
x[1] = "Watermelon"

In [10]:
x

['Apple', 'Watermelon', 'Cherry', 'Kiwi', 'mango']

Change the range of items value

In [11]:
x[0:2] = ['Orange', "CustordApple", "Cherry"]

In [12]:
x

['Orange', 'CustordApple', 'Cherry', 'Cherry', 'Kiwi', 'mango']

In [13]:
x.count('Cherry')

2

Insert the items in list

In [14]:
x.insert(1, "Grapes")
x

['Orange', 'Grapes', 'CustordApple', 'Cherry', 'Cherry', 'Kiwi', 'mango']

 
 ADD THE ITEMS IN THE LIST

In [15]:
x.append('Strawberries')

In [16]:
x

['Orange',
 'Grapes',
 'CustordApple',
 'Cherry',
 'Cherry',
 'Kiwi',
 'mango',
 'Strawberries']

In [17]:
y=['Papapya', 'Pineapple']
x.extend(y)

In [18]:
print(x)

['Orange', 'Grapes', 'CustordApple', 'Cherry', 'Cherry', 'Kiwi', 'mango', 'Strawberries', 'Papapya', 'Pineapple']

In [19]:
x.append(y)
print(x)

['Orange', 'Grapes', 'CustordApple', 'Cherry', 'Cherry', 'Kiwi', 'mango', 'Strawberries', 'Papapya', 'Pineapple', ['Papapya', 'Pineapple']]

insert the tuple, set, dictionary(Iterable object)

In [20]:
z=('Rasberries', 'Blueberries')
x.extend(z)

In [21]:
print(x)

['Orange', 'Grapes', 'CustordApple', 'Cherry', 'Cherry', 'Kiwi', 'mango', 'Strawberries', 'Papapya', 'Pineapple', ['Papapya', 'Pineapple'], 'Rasberries', 'Blueberries']

 REMOVE THE LIST ITEMS

In [22]:
x.remove('Rasberries')

In [23]:
##remove the first item
x.pop(1)

'Grapes'

In [24]:
print(x)

['Orange', 'CustordApple', 'Cherry', 'Cherry', 'Kiwi', 'mango', 'Strawberries', 'Papapya', 'Pineapple', ['Papapya', 'Pineapple'], 'Blueberries']

In [25]:
x.pop()

'Blueberries'

In [26]:
print(x)

['Orange', 'CustordApple', 'Cherry', 'Cherry', 'Kiwi', 'mango', 'Strawberries', 'Papapya', 'Pineapple', ['Papapya', 'Pineapple']]

In [27]:
del x[0]
print(x)

['CustordApple', 'Cherry', 'Cherry', 'Kiwi', 'mango', 'Strawberries', 'Papapya', 'Pineapple', ['Papapya', 'Pineapple']]

In [28]:
x.clear()

In [29]:
print(x)

[]

  LOOP THROUGH A LIST

Print all items in the list, one by one

In [30]:
lyst = ["Apple", "Kiwi", "Banana"]

In [31]:
for items in lyst:
    print(items)

Apple
Kiwi
Banana

In [32]:
dict={}
for idx,items in enumerate(lyst, 0):
    dict[idx]=items

In [33]:
dict

{0: 'Apple', 1: 'Kiwi', 2: 'Banana'}

  COPY LIst

In [34]:
x = ["apple", "banana", "cherry"]
y=x.copy()

In [35]:
print(y)

['apple', 'banana', 'cherry']

In [36]:
z=list(x)
print(z)

['apple', 'banana', 'cherry']

  JOIN LIST

In [37]:
z=x+y
print(z)

['apple', 'banana', 'cherry', 'apple', 'banana', 'cherry']

In [38]:
z=[]
for i in x:
    z.append(i)

In [39]:
print(z)

['apple', 'banana', 'cherry']

In [40]:
z=[]
for items in x:
    z.extend(i)

In [41]:
print(z)

['c', 'h', 'e', 'r', 'r', 'y', 'c', 'h', 'e', 'r', 'r', 'y', 'c', 'h', 'e', 'r', 'r', 'y']

### TUPLE

In [42]:
mytuple=('Apple', 'banana', 'Cherry', 'Apple')
print(mytuple)

('Apple', 'banana', 'Cherry', 'Apple')

In [43]:
print(len(mytuple))

4

tuple with one item

In [44]:
mytuple=('apple')
print(type(mytuple))

<class 'str'>

In [45]:
mytuple=('apple',)
print(type(mytuple))

<class 'tuple'>

In [46]:
mytuple=('Apple', 3, "banana")
print(type(mytuple))

<class 'tuple'>

ACCESS THE TUPLE

In [47]:
mytuple=("Apple", "Banana", 2,4,5)
mytuple

('Apple', 'Banana', 2, 4, 5)

In [48]:
mytuple[1]

'Banana'

In [49]:
mytuple[-1]

5

In [50]:
mytuple[1:3]

('Banana', 2)

In [51]:
mytuple[2:]

(2, 4, 5)

In [52]:
mytuple[:2]

('Apple', 'Banana')

Check item exist or not

In [53]:
if 0 in mytuple:
    print("item is exist")
else:
    print("item is not exist")

item is not exist

Change tuple value

In [54]:
#mytuple[2] = "KIWI"      #convret tuple into list

In [55]:
tup=list(mytuple)

In [56]:
tup[2] = "Kiwi"

In [57]:
x=tuple(tup)

In [58]:
type(x)

tuple

#you cannto add items to tuple
#you cannot remove the items fro tuple
#for this you have to convert tuple into list

 Tuple unpacking

In [59]:
a,b,c=(1,2,3)

In [60]:
print(a)
print(b)
print(c)

1
2
3

In [61]:
a,b,*c=(1,2,3,3,4,5,6,7,0)

In [62]:
print(a)
print(b)
print(c)

1
2
[3, 3, 4, 5, 6, 7, 0]

In [63]:
*a, b, c=(1,2,3,4,5,4,3,3,2,2)

In [64]:
print(a)
print(b)
print(c)

[1, 2, 3, 4, 5, 4, 3, 3]
2
2

Join tuple

In [65]:
tup1=(1,2,3,4,4)
tup2=(3,4,5,6,7)
tup3=tup1+tup2

In [66]:
print(tup3)

(1, 2, 3, 4, 4, 3, 4, 5, 6, 7)

In [67]:
#it performs repetation
tup4=tup1 * 2
print(tup4)

(1, 2, 3, 4, 4, 1, 2, 3, 4, 4)

In [68]:
dir(tup4)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [69]:
tup4.count(1)

2

In [70]:
tup4.index(1)

0

# SET

In [71]:
s={"apple", "kiwi", "banana"}

Access the items of the set

In [72]:
#s[1]   #ucan not access the items of the set by usnig index or key

In [73]:
# you have to use for loop
for items in s:
    print(items)

apple
banana
kiwi

check items is present or not

In [74]:
if 'a' in s:
    print("item is exist")
else:
    print("not exist")

not exist

1.Add the items in set
2. you cannot cahnge the items but you can add the new items

In [75]:
s.add("pineapple")

In [76]:
s

{'apple', 'banana', 'kiwi', 'pineapple'}

Add the set in existing set

In [77]:
set1={1,2,3,4,5}
set2={"apple", "banana", "kiwi"}

In [78]:
# update can add iterable object(list, tuple, dictionary)
set1.update(set2)
print(set1)

{1, 2, 3, 4, 5, 'banana', 'kiwi', 'apple'}

In [79]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'cherry', 'banana', 'kiwi', 'apple', 'orange'}

In [80]:
thisset.remove("orange")

In [81]:
print(thisset)

{'cherry', 'banana', 'kiwi', 'apple'}

In [82]:
thisset.discard('banana')

In [83]:
print(thisset)

{'cherry', 'kiwi', 'apple'}

In [84]:
x=thisset.pop()
print(x)

cherry

In [85]:
print(thisset)

{'kiwi', 'apple'}

print the items of list

In [86]:
for items in thisset:
    print(items)

kiwi
apple

Join two sets

In [87]:
set1={1,2,3,4,5}
set2={"apple", "banana", "kiwi", "orange"}

In [88]:
set3=set1.union(set2)
print(set3)

{1, 2, 3, 4, 5, 'banana', 'kiwi', 'apple', 'orange'}

In [89]:
set4=set1.update(set2)
print(set4)

None

In [94]:
set1={1,2,3,4,5}
set2={1,4,7,8,8,9}
print(set1.intersection_update(set2))

None

In [95]:
 print(set1.intersection(set2))

{1, 4}

Keep all but not duplicate

In [1]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'microsoft', 'google', 'banana', 'cherry'}

In [2]:
x.difference(y)

{'banana', 'cherry'}

In [4]:
 y= x.symmetric_difference(y)

In [5]:
y

{'apple', 'banana', 'cherry'}

In [6]:
x.pop()

'microsoft'

In [7]:
x.add("X")

In [8]:
print(x)

{'X', 'google', 'banana', 'cherry'}

In [9]:
X=x.copy()

In [11]:
print(X)

{'X', 'google', 'cherry', 'banana'}

In [14]:
X.discard('X')

In [15]:
print(X)

{'google', 'cherry', 'banana'}

In [16]:
print(x.union(y))

{'X', 'banana', 'google', 'apple', 'cherry'}

In [17]:
print(x.intersection(y))

{'cherry', 'banana'}

# DICTIONARY

In [18]:
dict1={1:"maharashtra", 2:"Kerala", 3:"MP"}
print(dict1)

{1: 'maharashtra', 2: 'Kerala', 3: 'MP'}

lenghth of dictionary

In [19]:
print(len(dict1))

3

In [20]:
print(type(dict1))

<class 'dict'>

In [21]:
print(dict1[1])

maharashtra

In [23]:
print(dict1.get(2))

Kerala

In [24]:
dict1.keys()

dict_keys([1, 2, 3])

In [25]:
dict1.values()

dict_values(['maharashtra', 'Kerala', 'MP'])

In [27]:
dict1.items()

dict_items([(1, 'maharashtra'), (2, 'Kerala'), (3, 'MP')])

Check items is exist or not

In [28]:
dict1[2]="Panjab"

In [29]:
print(dict1)

{1: 'maharashtra', 2: 'Panjab', 3: 'MP'}

In [32]:
for "1" in dict1:
    print("items is exist")
else:
    print("Items not exist")

SyntaxError: cannot assign to literal (<ipython-input-32-0fe4999cce75>, line 1)

Change the value

In [33]:
dict1.update({3:"hariyana"})

In [34]:
print(dict1)

{1: 'maharashtra', 2: 'Panjab', 3: 'hariyana'}

Add the items

In [35]:
dict1["state"] = "UP|"

In [36]:
print(dict1)

{1: 'maharashtra', 2: 'Panjab', 3: 'hariyana', 'state': 'UP|'}

In [40]:
for "state" in dict1:
    print("Exist")

SyntaxError: cannot assign to literal (<ipython-input-40-c57ca7c936f9>, line 1)

Update dictionary

In [41]:
dict1.update({"state":"uttarkhand"})
print(dict1)

{1: 'maharashtra', 2: 'Panjab', 3: 'hariyana', 'state': 'uttarkhand'}

Remove items

In [43]:
#pop remove items by name
dict1.pop("state")

'uttarkhand'

In [44]:
print(dict1)

{1: 'maharashtra', 2: 'Panjab', 3: 'hariyana'}

In [45]:
#it removes last item
dict1.popitem()

(3, 'hariyana')

In [46]:
print(dict1)

{1: 'maharashtra', 2: 'Panjab'}

loop in dictionary

In [47]:
for items in dict1.keys():
    print(items)

1
2

In [48]:
for items in dict1.values():
    print(items)

maharashtra
Panjab

In [52]:
for key, value in dict1.items():
    print(key , value)

1 maharashtra
2 Panjab

Copy dictionary

In [1]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [2]:
mydict=thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

Nested Dictionary

In [4]:
mydict={"fruits":{"Apple", "Banana", "Kiwi"},
       "vegetable":{"been", "Chilli Peppers", "Green Chilly"},
       "Juice":{"Mango juice", "Sugarcane juice", "Orange Juice"}}
print(mydict)

{'fruits': {'Banana', 'Apple', 'Kiwi'}, 'vegetable': {'Chilli Peppers', 'Green Chilly', 'been'}, 'Juice': {'Orange Juice', 'Mango juice', 'Sugarcane juice'}}

set default value

In [7]:
x=mydict.setdefault("color", "orange")
print(x)

orange

In [8]:
mydict.update({"fruits": "orange"})
print(mydict)

{'fruits': 'orange', 'vegetable': {'Chilli Peppers', 'Green Chilly', 'been'}, 'Juice': {'Orange Juice', 'Mango juice', 'Sugarcane juice'}, 'color': 'orange'}

In [9]:
mydict.get("fruits")

'orange'